.rankdiv {
    display: inline;
    margin: 0 2px;
    padding: 0!important;
}

.rankInfo a {
    color: #fff!important;
}

.scicrxPanel, .sCloseBtn, .sInfoBtn, .sRefreshBtn, .sciTerm, .sePaper, .scixName, .scixValue, .scixValue a, .sinfo, .rankInfo, .scicrxAbs, .cite-close, .cite-detail div, .cite-detail a, .cite-post label, .cite-act, .translate_span, .scicrx-filter, .choice-block label {
    font-family: "Times New Roman",Times,STKaiTi,KaiTi,SimSun,"Microsoft Yahei"!important;
}

span.sinfo, span.rankInfo {
    font-size: 13px!important;
    padding: 0 7px!important;
    line-height: 18px;
    color: #fff!important;
    cursor: pointer;
    white-space: nowrap;
    font-style: normal;
    font-weight: initial;
    border: initial!important;
    border-radius: 3px!important;
    margin: 0 2px!important;
}

.scolor-if {
    background: #ff0099;
}

.scolor-1 {
    background: #00b155;
}

.scolor-jci {
    background: #9027ff;
}

.scolor-2 {
    background: #00c5ff;
}

.scolor-7 {
    background: #4569ff;
}

.scolor-5 {
    background: #7dd515;
}